@import "../../../scss/mixins";
@import "../../../scss/variables";

.banner {
    display: flex;
    flex-direction: column;

    img {
        width: 85%;
        margin: auto;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;

        @include mobile {
            width: 95%;
            height: 110px;
        }
    }

    div {
        background-color: $color-black;
        opacity: 0.3;
        width: 85%;
        top: 201px;
        margin: auto;
        margin-top: -222px;
        height: 223px;
        border-radius: 25px;

        @include mobile {
            width: 95%;
            height: 110px;
            margin-top: -110px;
        }
    }

}