@import "../.././scss/mixins";
@import "../.././scss/variables";

.carrousel {
    height: 415px;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    position: relative;

    @include mobile {
        width: 95%;
        height: 255px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;

    }

    .next_button {
        position: absolute;
        top: 200px;
        right: 20px;
        width: 36px;
        height: 59.64px;
        transform: rotate(180deg);
        cursor: pointer;

        @include mobile {
            top: 120px;
            width: 16px;
            height: 29.64px;
        }
    }

    .previous_button {
        position: absolute;
        width: 36px;
        height: 59.64px;
        top: 200px;
        left: 20px;
        cursor: pointer;

        @include mobile {
            top: 120px;
            width: 16px;
            height: 29.64px;
        }
    }

    .image_counter {
        color: $color-white;
        margin: -70px;
        display: flex;
        justify-content: center;

        @include mobile {
            margin: -50px;
        }
    }
}