@import "../../../scss/mixins";
@import "../../../scss/variables";

.error {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: 100px auto;
    gap: 100px;

    h1 {
        margin: auto;
        color: $color-principal;
        font-weight: 700;
        font-size: 200px;

        @include tablette {
            font-size: 120px;
        }

        @include mobile {
            font-size: 95px;
        }
    }

    h2 {
        margin: auto;
        color: $color-principal;
        font-weight: 500;
        font-size: 30px;
        text-align: center;

        @include mobile {
            font-size: 18px;
        }
    }

    a {
        margin: auto;
        color: $color-principal;
        font-weight: 500;
        font-size: 18px;

        @include mobile {
            font-size: 14px;
        }
    }
}