@import "../../scss/mixins";
@import "../../scss/variables";

.footer {
    background-color: $color-black;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    img {
        width: 122px;
        height: 39px;
        margin-top: 66px;
    }

    &_texte {
        color: $color-white;

        @include mobile {
            font-size: 12px;
            width: 103px;
        }
    }
}